body {
  background-color: rgb(234, 245, 80);
}


table, th, td {
  border: 3px solid rgb(0, 0, 0);
  border-collapse: collapse;
  background-color: white;
  text-align: center;
  font-style: italic;
  font-size: large;
  width: 14.28571428571429%;
}

th {
  background-color: rgb(43, 226, 211);
}

button {
  margin: 10px 10px 15px 15px;
  padding: 2%;
  font-family: monospace;
  border-radius: 50%;
  height: 90px;
  width: 90px;
text-align: left;}

#previous {
  float: left;
}

#next {
  float: right;
}

table {
  width:100%
}

.link-styles {
  text-align: center;
  display: inline-block;
  width: 30%;
  height: 25px;
  padding: 12px;
  margin: 0 0 15px 15px;
  background-color: purple;
  color: white;
  text-decoration: none;
  border-radius: 5%;
  font-weight: 750;
}

.big-list {
  display: flex;
  flex-wrap:wrap;
}

.events-list {
  border: 2px dashed rgb(255, 81, 0);
  width: 30%;
  background-color: rgb(141, 231, 204);
  text-align: center;
  margin: 0 0 15px 15px;
  border-radius: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.new-form {
  margin: 5px 10px;
}

.new-input {
  margin: 5px 5px 10px 10px;
  padding: 1%;
  border: 2px groove rgb(0, 0, 0);
}